<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1>Profile </h1>
<p>Name: {{ user.get_full_name }}</p>
<p>Username: {{ user.get_username }}</p>
<p>Email: {{ user.email }}</p>
<p>Is Admin: {{ user.is_superuser }}</p>

<hr>
    <h3>Your Status</h3>
{% for m in message %}
    <li><b>{{ m.status }}</b> <br>Created at <b>{{ m.created_at }}</b></li>
    <a href={% url "statusapp:delete" m.id %}>Delete this</a>
{% endfor %}
<hr>


<br>
<br>
<br>
<a href={% url "statusapp:create" %}>Create Status</a>
<br><br><br>
<a href={% url "account:logout" %}>Logout</a>

</body>
</html>